<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PGT.ConfigurationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Scriptngo.ConfigurationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Scriptngo.ConfigurationManager.Properties.Settings.PGTConnectionString"
            connectionString="Data Source=BTP132237\SQL;Initial Catalog=ConfigStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PGT.ConfigurationManager.Properties.Settings.PGTConnectionString"
            connectionString="Data Source=BTP132237\SQL;Initial Catalog=SNG_CM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PGT.ConfigurationManager.Properties.Settings>
            <setting name="HasSettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>SNG_CM</value>
            </setting>
            <setting name="SQLServerUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPassword" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLIntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MRUVendor" serializeAs="String">
                <value>Cisco</value>
            </setting>
            <setting name="MRUProtocol" serializeAs="String">
                <value>Telnet</value>
            </setting>
            <setting name="MRUJumpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigManager_Puller_CreateNewSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_SeparateWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_HostPerForm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConfigManager_Deployer_HostPerForm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConfigManager_Deployer_SeparateForms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Deployer_StartScripts" serializeAs="String">
                <value>False</value>
            </setting>
        </PGT.ConfigurationManager.Properties.Settings>
        <Scriptngo.ConfigurationManager.Properties.Settings>
            <setting name="HasSettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>PGT</value>
            </setting>
            <setting name="SQLServerUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPassword" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLIntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MRUVendor" serializeAs="String">
                <value>Cisco</value>
            </setting>
            <setting name="MRUProtocol" serializeAs="String">
                <value>Telnet</value>
            </setting>
            <setting name="MRUJumpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConfigManager_Puller_CreateNewSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_SeparateWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Puller_HostPerForm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConfigManager_Deployer_HostPerForm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConfigManager_Deployer_SeparateForms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigManager_Deployer_StartScripts" serializeAs="String">
                <value>False</value>
            </setting>
        </Scriptngo.ConfigurationManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2016.0.0.0" newVersion="2016.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
